body{
    padding: 0;
    text-align: center;
    
}
#root{
    margin: auto;
}
img{
    width: 100%;
}
#cocktail{
    border-radius: 10px;
    background-color: gainsboro;
    border: solid 2px #32a1ce;
    width: 20%;
    justify-content: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 39%;
    margin-top: 50px;
}